<link href="~/Content/Views/DivisionN1/Index.css" rel="stylesheet" />

<script src="~/Scripts/Views/DivisionN1/Index.js"></script>

<script type="text/javascript">
    $(window).load(function () { $("#spinner").fadeOut("slow"); })
    $(document).ready(function () {
        var listCmd = '@this.Url.Action("GetDivisionN1s", "DivisionN1")';
        var deleteCmd = '@this.Url.Action("DeleteDivisionN1", "DivisionN1")';
        var updateCmd = '@this.Url.Action("UpdateDivisionN1", "DivisionN1")';
        var createCmd = '@this.Url.Action("CreateDivisionN1", "DivisionN1")';
        DivisionN1Index.initializeComponents(listCmd, deleteCmd, updateCmd, createCmd);
    });
</script>
@using (Html.BeginForm("Index", "DivisionN1", FormMethod.Post, new { id = "formDivisionN1" }))
{
    <div>
        <div>
            <h2 class="h2">Divisiones N1</h2>
        </div>
    </div>

    <div>
        <div>
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input id="txtName" name="txtName" placeholder="Nombre" type="text" />
                    </td>
                </tr>
            </table>
            <hr />
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input type="submit" id="btnIndex" value="Atrás" class="input button" />
                        <input type="submit" id="btnSearch" value="Buscar" class="input button" />
                        <input type="submit" id="btnNewSearch" value="Nueva Búsqueda" class="input button" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div>
            <hr />
        </div>
    </div>
    <div id="divDivisionN1TableContainerValue"></div>
}
