<link href="~/Content/Views/Process/Index.css" rel="stylesheet" />

<script src="~/Scripts/Views/Process/Index.js"></script>

<script type="text/javascript">
    $(window).load(function () { $("#spinner").fadeOut("slow"); })
    $(document).ready(function () {
        var listCmd = '@this.Url.Action("GetProcess", "Process")';
        var deleteCmd = '@this.Url.Action("DeleteProcess", "Process")';
        var updateCmd = '@this.Url.Action("UpdateProcess", "Process")';
        var createCmd = '@this.Url.Action("CreateProcess", "Process")';
        ProcessIndex.initializeComponents(listCmd, deleteCmd, updateCmd, createCmd);
    });
</script>
@using (Html.BeginForm("Index", "Process", FormMethod.Post, new { id = "formArea" }))
{
    <div>
        <div>
            <h2 class="h2">Procesos</h2>
        </div>
    </div>

    <div>
        <div>
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input id="txtName" name="txtName" placeholder="Nombre" type="text" />
                    </td>
                </tr>
            </table>
            <hr />
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input type="submit" id="btnIndex" value="Atrás" class="input button" />
                        <input type="submit" id="btnSearch" value="Buscar" class="input button" />
                        <input type="submit" id="btnNewSearch" value="Nueva Búsqueda" class="input button" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div>
            <hr />
        </div>
    </div>
    <div id="divProcessTableContainerValue"></div>
    <div id="divDivisionContainer" style="display:none;">
        <div id="divDivisionN1TableContainer">
            <div id="divDivisionN1TableContainerValue"></div>
        </div>
    </div>
}
