<link href="~/Content/Views/ProcessN2/Index.css" rel="stylesheet" />

<script src="~/Scripts/Views/ProcessN2/Index.js"></script>

<script type="text/javascript">
    $(window).load(function () { $("#spinner").fadeOut("slow"); })
    $(document).ready(function () {
        var listCmd = '@this.Url.Action("GetProcess2", "ProcessN2")';
        var deleteCmd = '@this.Url.Action("DeleteProcess2", "ProcessN2")';
        var updateCmd = '@this.Url.Action("UpdateProcess2", "ProcessN2")';
        var createCmd = '@this.Url.Action("CreateProcess2", "ProcessN2")';
        ProcessN2Index.initializeComponents(listCmd, deleteCmd, updateCmd, createCmd);
    });
</script>
@using (Html.BeginForm("Index", "ProcessN2", FormMethod.Post, new { id = "formProcessN2" }))
{
    <div>
        <div>
            <h2 class="h2">Procedimiento N2</h2>
        </div>
    </div>

    <div>
        <div>
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input id="txtName" name="txtName" placeholder="Nombre" type="text" />
                    </td>
                </tr>
            </table>
            <hr />
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>
                        <input type="submit" id="btnIndex" value="Atrás" class="input button" />
                        <input type="submit" id="btnSearch" value="Buscar" class="input button" />
                        <input type="submit" id="btnNewSearch" value="Nueva Búsqueda" class="input button" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div>
            <hr />
        </div>
    </div>
    <div id="divProcessN2TableContainerValue"></div>
}
