@*div Asociacion de categorias al evento seleccionado*@
<div id="divUserRoleProductsPopup" title="Administrar Productos de Rol de Usuario" style="text-align: center; display: none;">
    <table class="divContents" style="padding-left: 15px;">
        <tr>
            <td>
                <label>Rol de Usuario: </label>
                <label id="lblRolNamePopup" style="font-weight: normal !important; padding: 0px 10px 0px 2px;"></label>
            </td>
        </tr>
    </table>
    <table class="divContents" style="margin: auto;">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            @*div de contenido dinamico para la asociacion de productos con roles de usuario.*@
                            <div id="divChangeUserRoleProductsPopup"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

